
@{
    ViewBag.Title = "Auxiliary Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auxiliary Tables</h2>

<p>
    @Html.ActionLink("Locations", "ListLocations", "Auxiliary")
</p>

<p>
    @Html.ActionLink("Subdepartments", "ListSubdepartments", "Auxiliary")
</p>

<p>
    @Html.ActionLink("Vendors", "ListVendors", "Auxiliary")
</p>