<connectionStrings>
  <add
    name="ToolboxConnection"
    connectionString="Data Source=PFCL-JANDERS-LT\SQLEXPRESS;
      Initial Catalog=PFCToolbox;
      Integrated Security=SSPI;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add
    name="SMSHostConnection"
    connectionString="Data Source=PFCL-JANDERS-LT\SQLEXPRESS;
      Initial Catalog=STORESQL;
      Integrated Security=SSPI;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>