<connectionStrings>
  <add
    name="ToolboxConnection"
    connectionString="Data Source=PFCL-JANDERS-LT\SQLEXPRESS;
      Initial Catalog=PFCToolbox;
      Integrated Security=SSPI;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add
  name="SMSHostConnection"
  connectionString="Data Source=192.168.0.29\SQLEXPRESS;
      Initial Catalog=STORESQL;
      User Id=ncbp;
      Password=289iwqw;
      MultipleActiveResultSets=True;
      Connection Timeout=1000"
  providerName="System.Data.SqlClient" />
  <!--<add
    name="SMSHostConnection"
    connectionString="Data Source=PFCL-JANDERS-LT\SQLEXPRESS;
      Initial Catalog=STORESQL;
      Integrated Security=SSPI;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />-->
  <add
    name="SMSLaxConnection"
    connectionString="Data Source=192.168.0.30\SQLEXPRESS;
      Initial Catalog=STORESQL;
      User Id=ncbp;
      Password=289iwqw;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add
    name="SMSRochConnection"
    connectionString="Data Source=10.190.30.30\SQLEXPRESS;
      Initial Catalog=STORESQL;
      User Id=ncbp;
      Password=289iwqw;
      MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>