
@{
    ViewBag.Title = "CTMSubdepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribution to Margin by Subdepartment</h2>

@using (Ajax.BeginForm("GetCTMSubdepartment", "Reports", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Item Results"
}))
{
    <label>Start Date:</label>
    <input class="form-control"
           id="startDate"
           name="startDate"
           placeholder="M/DD/YYYY"
           type="text"
           autocomplete="off"
           required />
    <div id="custom-pos"></div>
    <br />

    <label>End Date:</label>
    <input class="form-control"
           id="endDate"
           name="endDate"
           placeholder="M/DD/YYYY"
           type="text"
           autocomplete="off"
           required />
    <br />

    <label>Subdepartment:</label>
    <select id="subdept"
            class="form-control"
            name="subdept"
            data-source="api/GetSubdepartmentBounds"
            data-valueKey="F04"
            data-displayKey="F1022"
            required >
    </select>
    <br />

    <label>Location:</label>
    <select class="form-control" name="location" id="location" required>
        <option value="" disabled selected>Select a location</option>
        <option value="001, La Crosse">La Crosse</option>
        <option value="002, Rochester">Rochester</option>
    </select>
    <br />

    <input type="submit" class="btn btn-primary" value="Run Report" />
}

<div id="Item Results"></div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <script>
        $(document).ready(function () {

            // Date picker
            var startDate_input = $('input[name="startDate"]');
            var endDate_input = $('input[name="endDate"]');
            var options = {
                format: 'm/dd/yyyy',
                container: '#custom-pos',
                todayHighlight: true,
                orientation: "left top",
                autoclose: true,
            };
            startDate_input.datepicker(options);
            endDate_input.datepicker(options);

            // Populate subdepartment select list
            $.ajax({
                url: "api/GetSubdepartmentBounds",
            }).then(function (data) {
                var s = '<option value="" disabled selected>Select a subdepartment</option>';

                for ($i = 0; $i < data.data.length; $i++) {
                    s += '<option value="' + data.data[$i].SMSSubdepartments.F04 + ', ' + data.data[$i].SMSSubdepartments.F1022 + '">' + data.data[$i].SMSSubdepartments.F1022 + '</option>';
                }

                $("#subdept").html(s);
            });
        });
    </script>
}