@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<h3>SMS Reports</h3>

<p>
    @Html.ActionLink("Item Single Total", "ItemSingleTotal", "Reports")
</p>

<p>
    @Html.ActionLink("Item Single Total by Subdepartment", "ItemSingleTotalbySubdepartment", "Reports")
</p>

<p>
    @Html.ActionLink("Contribution to Margin by Subdepartment", "CTMSubdepartment", "Reports")
</p>