@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<hr />

<h3>SMS Reports</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Item Single Total by UPC</h4>
        <p>Find itemized sales by specific UPC's.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotal", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Item Single Total by Subdepartment</h4>
        <p>Find itemized sales by subdepartment.</p>
        <p><a class="btn btn-default" href='@Url.Action("ItemSingleTotalbySubdepartment", "Reports")'>Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Contribution to Margin by Subdepartment</h4>
        <p>Find itemized sales and contribution to margin metrics by subdepartment.</p>
        <p><a class="btn btn-default" href='@Url.Action("CTMSubdepartment", "Reports")'>Click here &raquo;</a></p>
    </div>
</div>