/* New Product Page: Format checkboxes */
table.dataTable tbody td.select-checkbox,
table.dataTable thead th.select-checkbox {
    position: relative;
}

    table.dataTable tbody td.select-checkbox:before,
    table.dataTable tbody td.select-checkbox:after,
    table.dataTable thead th.select-checkbox:before,
    table.dataTable thead th.select-checkbox:after {
        display: block;
        position: absolute;
        top: 1.2em;
        left: 50%;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
    }

    table.dataTable tbody td.select-checkbox:before,
    table.dataTable thead th.select-checkbox:before {
        content: ' ';
        margin-top: -6px;
        margin-left: -6px;
        border: 1px solid black;
        border-radius: 3px;
    }
/**/

/* Export button tweak */
.floatRight {
    padding-left: .5%;
    position: relative;
    float: right;
}
/**/

/* Date picker tweak*/
#custom-pos {
    position: relative;
}
/**/

/* New Product Page: Change selected row background color.*/
#NewProducts tr.odd.selected {
    background-color: whitesmoke;
}

#NewProducts tr.even.selected {
    background-color: whitesmoke;
}

#NewProducts .sorting_1 {
    background-color: whitesmoke !important;
}
/**/

/* New Purchase Form <hr> */
.hrPurchaseForm {
    margin-bottom: 20px !important;
    margin-top: -5px !important;
}
/**/

/* New Purchase Form tag quantity field */
#tagquantity {
    max-width: 5%;
    max-height: 47%;
    position: absolute;
    top: 20%;
    right: 23.5%
}
/**/

/* New Purchase Form tag quantity field */
#clearLikeCode {
    position: absolute;
    top: 28%;
    right: 19%
}
/**/

/* Edits overall width of Toolbox display*/
.container {
    width: 97%;
}

.container.body-content {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field {
    position: relative;
    zoom: 1;
    clear: both;
    padding: 6px 10% !important;
    border: 1px solid transparent;
}
/**/

/* Center store multi totals */
#laxJumbotron, #rochJumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
}

.container.jumbotronContainer {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
}

#hrJumbotron {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #1112;
    height: 1px;
}
/**/

/* Toolbox custom button colors -- LVHFA */
.btn-primary, .btn-default {
    background-color: #3c763d;
    border-color: #111;
    color: white;
}

    .btn-primary:focus, .btn-default:focus {
        background-color: #224f23;
        border-color: #111;
        color: white;
    }

    .btn-primary:hover, .btn-default:hover {
        background-color: #224f23;
        border-color: #111;
        color: white;
    }

    .btn-primary:active:focus, .btn-default:active:focus {
        background-color: #224f23;
        border-color: #111;
        color: white;
    }
/**/

/* Product Maintenance: New Product custom button colors -- LVHFA */
#createNewProduct, #getNewProducts {
    background-color: #FAC090;
    border-color: #111;
    color: black;
}

    #createNewProduct:focus, #getNewProducts:focus {
        background-color: #ffae6b;
        border-color: #111;
        color: black;
    }

    #createNewProduct:hover, #getNewProducts:hover {
        background-color: #ffae6b;
        border-color: #111;
        color: black;
    }

    #createNewProduct:active:focus, #getNewProducts:active:focus {
        background-color: #ffae6b;
        border-color: #111;
        color: black;
    }
/**/

/* Product Maintenance: Product Update button colors -- LVHFA */
#createProductUpdate, #getProductUpdates {
    background-color: #E6EDD7;
    border-color: #111;
    color: black;
}

    #createProductUpdate:focus, #getProductUpdates:focus {
        background-color: #d4dac6;
        border-color: #111;
        color: black;
    }

    #createProductUpdate:hover, #getProductUpdates:hover {
        background-color: #d4dac6;
        border-color: #111;
        color: black;
    }

    #createProductUpdate:active:focus, #getProductUpdates:active:focus {
        background-color: #d4dac6;
        border-color: #111;
        color: black;
    }
/**/

/* Product Maintenance: red button colors -- LVHFA */
.redButton {
    background-color: #F2DCDB;
    border-color: #111;
    color: black;
}

    .redButton:focus {
        background-color: #f2a6a3;
        border-color: #111;
        color: black;
    }

    .redButton:hover {
        background-color: #f2a6a3;
        border-color: #111;
        color: black;
    }

    .redButton:active:focus {
        background-color: #f2a6a3;
        border-color: #111;
        color: black;
    }
/**/

/* Product Maintenance: light orange button colors -- LVHFA */
.lightOrangeButton {
    background-color: #FDEADA;
    border-color: #111;
    color: black;
}

    .lightOrangeButton:focus {
        background-color: #fdca9f;
        border-color: #111;
        color: black;
    }

    .lightOrangeButton:hover {
        background-color: #fdca9f;
        border-color: #111;
        color: black;
    }

    .lightOrangeButton:active:focus {
        background-color: #fdca9f;
        border-color: #111;
        color: black;
    }
/**/

/* Product Maintenance: blue button colors -- LVHFA */
.blueButton {
    background-color: #B9CDE5;
    border-color: #111;
    color: black;
}

    .blueButton:focus {
        background-color: #95B3D7;
        border-color: #111;
        color: black;
    }

    .blueButton:hover {
        background-color: #95B3D7;
        border-color: #111;
        color: black;
    }

    .blueButton:active:focus {
        background-color: #95B3D7;
        border-color: #111;
        color: black;
    }
/**/

/* Product Maintenance: yellow button colors -- LVHFA */
.yellowButton {
    background-color: #fffaa6;
    border-color: #111;
    color: black;
}

    .yellowButton:focus {
        background-color: #fff775;
        border-color: #111;
        color: black;
    }

    .yellowButton:hover {
        background-color: #fff775;
        border-color: #111;
        color: black;
    }

    .yellowButton:active:focus {
        background-color: #fff775;
        border-color: #111;
        color: black;
    }
/**/

/***/
h1 {
    margin-top: -.5%;
}

element.style {
    margin-bottom: 0%;
    margin-top: -.5%;
}

span.no-show {
    display: none;
}

span.show-ellipsis:after {
    content: "...";
}

/**/

label {
    margin-top: 4px;
}

body {
    margin: 27px;
}
