
/* Export button tweak */
.floatRight {
    padding-left: .5%;
    position: relative;
    float: right;
}
/**/

/* Date picker tweak*/
#custom-pos {
    position: relative;
}
/**/

/* Edits overall width of Toolbox display*/
.container {
    width: 97%;
}

.container.body-content {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
/**/

/* Center store multi totals */
#laxJumbotron, #rochJumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
}
.container.jumbotronContainer{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
}

#hrJumbotron {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #1112;
    height: 1px;
}
/**/

/* Custom button colors -- LVHFA */
.btn-primary, .btn-default {
    background-color: #3c763d;
    border-color: #2a5f2b;
    color: white;
}

.btn-primary:focus, .btn-default:focus {
    background-color: #224f23;
    border-color: #2a5f2b;
    color: white;
}

.btn-primary:hover, .btn-default:hover {
    background-color: #224f23;
    border-color: #2a5f2b;
    color: white;
}

.btn-primary:active, .btn-default:active {
    background-color: #224f23 !important;
    border-color: #2a5f2b !important;
    color: white !important;
}
/**/

h1 {
    margin-top: -5px;
}

span.no-show {
    display: none;
}

span.show-ellipsis:after {
    content: "...";
}

/**/

label {
    margin-top: 4px;
}

body {
    margin: 27px;
}