/* Export button tweak */
.floatRight {
    padding-left: 10px;
    position: relative;
    float: right;
}
/**/

/* Date picker tweak*/
#custom-pos {
    position: relative;
}
/**/

/* Edits overall width of Toolbox display*/
.container {
    width: 1500px;
}
/**/

/* Center store multi totals */
#laxJumbotron, #rochJumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
}
.container.jumbotronContainer{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
}

#hrJumbotron {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #1112;
    height: 1px;
}
/**/

/* Custom button colors*/
.btn-primary {
    background-color: #3c763d;
    border-color: #2a5f2b;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
        background-color: #224f23;
        border-color: #2a5f2b;
    }

    .btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
        background-color: #224f23;
        border-color: #2a5f2b;
        color: white;
    }
/**/


h1 {
    margin-top: -5px;
}

span.no-show {
    display: none;
}

span.show-ellipsis:after {
    content: "...";
}

/* Formats DataTables Forms */

.DTE_Body_Content {
    max-height: 553px !important;
}

/**/

label {
    margin-top: 4px;
}

body {
    margin: 27px;
}

/* Custom Update An Existing Product Form*/
/*#customForm {
    display: flex;
    flex-flow: row wrap;
}

    #customForm fieldset {
        flex: 1;
        border: 1px solid #aaa;
        margin: 0.5em;
    }

        #customForm fieldset legend {
            padding: 5px 20px;
            border: 1px solid #aaa;
            font-weight: bold;
        }

        #customForm fieldset.name {
            flex: 2 100%;
        }

        #customForm fieldset.hr {
            flex: 2 100%;
        }

        #customForm fieldset.name legend {
            background: #bfffbf;
        }

        #customForm fieldset.office legend {
            background: #ffffbf;
        }

        #customForm fieldset.hr legend {
            background: #ffbfbf;
        }

    #customForm div.DTE_Field {
        padding: 5px;
    }*/