
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documentation</h2>

<p>
    <a href="@Url.Content("~/Content/Documentation/taxdetailsWI.pdf")" target="_blank">Wisconsin Tax Details</a><br />
</p>

<p>
    <a href="@Url.Content("~/Content/Documentation/taxdetailsMN.pdf")" target="_blank">Minnesota Tax Details</a><br />
</p>

<p>
    <a href="@Url.Content("~/Content/Documentation/smsstandards.pdf")" target="_blank">SMS Standards</a><br />
</p>

<p>
    <a href="@Url.Content("~/Content/Documentation/STARTPAGE.html")" target="_blank">IT Start Page</a><br />
</p>