@{
    ViewBag.Title = "SMS Tools";
}

<h2>SMS Tools</h2>

<h3>Item Information Lookups</h3>
<p>
    @Html.ActionLink("Item Lookup by UPC", "ItemLookupByUPC", "SMS")
</p>
<p>
    @Html.ActionLink("Item Lookup by Brand", "ItemBrandLookup", "SMS")
</p>
<p>
    @Html.ActionLink("Item Lookup by Description", "ItemLookupByDescription", "SMS")
</p>