@{
    ViewBag.Title = "Item Lookup by Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Information Lookup by Brand</h2>

@using (Ajax.BeginForm("GetItemCodeInfoByBrand", "SMS", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "Item Results"
}))
{
    <div class="form-group">
        <form name="add_name" id="add_name">

            <label>Brand:</label>
            <select id="brand"
                    class="form-control"
                    name="brand"
                    autocomplete="off"
                    required>
            </select>

            <br />

            <label>Location:</label>
            <select class="form-control" name="location" id="location" autocomplete="off" required>
                <option value="" disabled selected>Select a location</option>
                <option value="001, La Crosse">La Crosse</option>
                <option value="002, Rochester">Rochester</option>
            </select>

            <br />
            <input type="submit" class="btn btn-primary" value="Get Item" />
        </form>

        <input type="hidden" id="brands" name="brands">
    </div>
}

<div id="Item Results"></div>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script>
        $(document).ready(function () {

            // Populate brand select list
            $.ajax({
                url: "/api/GetBrands",
            }).then(function (data) {
                var s = '<option value="" disabled selected>Select a brand</option>';

                for ($i = 0; $i < data.data.length; $i++) {
                    s += '<option value="' + data.data[$i].Brands.Brand + '">' + data.data[$i].Brands.Brand + '</option>';
                }

                $("#brand").html(s);
            });
        });
    </script>
}