
@{
    ViewBag.Title = "Product Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Maintenance</h2>

<p>
    @Html.ActionLink("Add a New Product", "", "")
</p>

<p>
    @Html.ActionLink("Update an Existing Product", "ProductUpdates", "Maintenance")
</p>