@{
    ViewBag.Title = "Product Updates";
}
@using PFC_Toolbox.v._4._0.Extensions;
@using PFC_Toolbox.v._4._0.Models;

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Product Updates</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
</head>
<body class="dataTables">
    <div class="container">

        <h1>
            Product Maintenance
        </h1>
        <br />
        <div id="customForm">
            <fieldset class="name">
                <legend>Request Information</legend>
                <editor-field name="ProductUpdates.requesttypeID"></editor-field>
                <editor-field name="ProductUpdates.locationID"></editor-field>
                <editor-field name="ProductUpdates.F01"></editor-field>
                <editor-field name="ProductUpdates.ismettlerrequired"></editor-field>
                <editor-field name="ProductUpdates.price_tab_f30"></editor-field>
            </fieldset>
            <fieldset class="hr">
                <legend>Product Information</legend>
                <editor-field name="ProductUpdates.OBJ_TAB_F155"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F29"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F22"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F255"></editor-field>
                <editor-field name="ProductUpdates.POS_TAB_F04"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F17"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F18"></editor-field>
                <editor-field name="ProductUpdates.OBJ_TAB_F16"></editor-field>
                <editor-field name="ProductUpdates.LIKE_TAB_F122"></editor-field>
            </fieldset>
            <fieldset class="hr">
                <legend>Cost Information</legend>
                <editor-field name="ProductUpdates.COST_TAB_F27"></editor-field>
                <editor-field name="ProductUpdates.COST_TAB_F26"></editor-field>
                <editor-field name="ProductUpdates.PRICE_TAB_F49"></editor-field>
                <editor-field name="ProductUpdates.COST_TAB_F19"></editor-field>
                <editor-field name="ProductUpdates.COST_TAB_F38"></editor-field>
            </fieldset>
            <fieldset class="office">
                <legend>TPR Settings</legend>
                <editor-field name="ProductUpdates.promotprstartdate"></editor-field>
                <editor-field name="ProductUpdates.promotprenddate"></editor-field>
                <editor-field name="ProductUpdates.promotprprice"></editor-field>
            </fieldset>
            <fieldset class="office">
                <legend>Signage</legend>
                <editor-field name="ProductUpdates.labelID"></editor-field>
                <editor-field name="ProductUpdates.signID"></editor-field>
            </fieldset>
            <fieldset class="office">
                <legend>Point of Sale Settings</legend>
                <editor-field name="ProductUpdates.POS_TAB_F79"></editor-field>
                <editor-field name="ProductUpdates.POS_TAB_F80"></editor-field>
                <editor-field name="ProductUpdates.POS_TAB_F81"></editor-field>
            </fieldset>
        </div>

        <table id="ProductUpdates" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Request Type</th>
                    <th>Status</th>
                    <th>UPC/PLU</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>TPR Start</th>
                    <th>TPR End</th>
                    <th>TPR Price</th>
                    <th>Retail Price</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                </tr>
            </thead>
        </table>
    </div>

</body>
</html>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script>

        var editorNP;
        var editor;
        $(document).ready(function () {

            $.fn.dataTable.moment('M/D/YYYY');

            var editorNP = new $.fn.dataTable.Editor({
                ajax: '/api/ProductUpdates',
                table: '#ProductUpdates',
                fields: [
                    {
                        label: "Product Update Type",
                        name: "ProductUpdates.requesttypeID",
                        type: "select",
                        placeholder: "Select a request type"
                    }, {
                        label: "Location:",
                        name: "ProductUpdates.locationID",
                        type: "select",
                        placeholder: "Select a location"
                    }, {
                        label: "UPC/PLU",
                        name: "ProductUpdates.F01"
                    }, {
                        label: "Mettler Product:",
                        name: "ProductUpdates.ismettlerrequired",
                        type: "select",
                        options: ["Yes", "No"],
                        placeholder: "Select an option"
                    }, {
                        label: "Retail Price",
                        name: "ProductUpdates.price_tab_f30"
                    }, {
                        label: "Vendor:",
                        name: "ProductUpdates.COST_TAB_F27",
                        type: "select",
                        placeholder: "Select a vendor"
                    }, {
                        label: "Reorder code:",
                        name: "ProductUpdates.COST_TAB_F26"
                    }, {
                        label: "Retail margin:",
                        name: "ProductUpdates.PRICE_TAB_F49"
                    }, {
                        label: "Items per case:",
                        name: "ProductUpdates.COST_TAB_F19"
                    }, {
                        label: "Case cost:",
                        name: "ProductUpdates.COST_TAB_F38"
                    }, {
                        label: "TPR Start",
                        name: "ProductUpdates.promotprstartdate",
                        type: "datetime",
                        format: 'M/d/YYYY'
                    }, {
                        label: "TPR End",
                        name: "ProductUpdates.promotprenddate",
                        type: "datetime",
                        format: 'M/d/YYYY'
                    }, {
                        label: "TPR Price",
                        name: "ProductUpdates.promotprprice"
                    }, {
                        label: "Shelf Tag:",
                        name: "ProductUpdates.labelID",
                        type: "select",
                        placeholder: "Select a label size"
                    }, {
                        label: "Sign:",
                        name: "ProductUpdates.signID",
                        type: "select",
                        placeholder: "Select a sign size"
                    }, {
                        label: "Brand:",
                        name: "ProductUpdates.OBJ_TAB_F155",
                        type: "select",
                        placeholder: "Select a brand"
                    }, {
                        label: "Receipt Description:",
                        name: "ProductUpdates.OBJ_TAB_F29"
                    }, {
                        label: "Size:",
                        name: "ProductUpdates.OBJ_TAB_F22"
                    }, {
                        label: "Sign Description:",
                        name: "ProductUpdates.OBJ_TAB_F255"
                    }, {
                        label: "Subdepartment:",
                        name: "ProductUpdates.POS_TAB_F04",
                        type: "select",
                        placeholder: "Select a subdepartment"
                    }, {
                        label: "Category:",
                        name: "ProductUpdates.OBJ_TAB_F17",
                        optionsPair: {
                            label: 'F1023',
                            value: 'F17'
                        },
                        type: "select",
                        placeholder: "Select a category"
                    }, {
                        label: "Report:",
                        name: "ProductUpdates.OBJ_TAB_F18",
                        type: "select",
                        placeholder: "Select a report"
                    }, {
                        label: "Family button:",
                        name: "ProductUpdates.OBJ_TAB_F16",
                        type: "select",
                        placeholder: "Select a family button"
                    }, {
                        label: "Like:",
                        name: "ProductUpdates.LIKE_TAB_F122",
                        type: "select",
                        placeholder: "Select a like code"
                    }, {
                        label: "SNAP:",
                        name: "ProductUpdates.POS_TAB_F79",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    }, {
                        label: "Scalable:",
                        name: "ProductUpdates.POS_TAB_F80",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    }, {
                        label: "Taxable:",
                        name: "ProductUpdates.POS_TAB_F81",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    },{
                        label: "Created by:",
                        name: "ProductUpdates.createdby",
                        type: "readonly",
                        type: "hidden",
                        def: "@(User.GetCreatedBy())"
                    }, {
                        label: "Date created:",
                        name: "ProductUpdates.datecreated",
                        type: "datetime",
                        type: "hidden",
                        def: function () {
                            var today = new Date().getMonth() + 1
                                + "/" + new Date().getDate()
                                + "/" + new Date().getFullYear()
                                + " " + new Date().getHours()
                                + ":" + new Date().getMinutes()
                                + ":" + new Date().getSeconds(); return today },
                        format: 'M/D/YYYY'
                    },{
                        label: "Status:",
                        name: "ProductUpdates.productstatusID",
                        type: "hidden",
                        def: "3"
                    }
                ]
            });

            var editor = new $.fn.dataTable.Editor({
                ajax: '/api/ProductUpdates',
                table: '#ProductUpdates',
                template: '#customForm',
                fields: [
                    {
                        label: "Product Update Type",
                        name: "ProductUpdates.requesttypeID",
                        type: "select",
                        placeholder: "Select a request type"
                    }, {
                        label: "Location:",
                        name: "ProductUpdates.locationID",
                        type: "select",
                        placeholder: "Select a location"
                    }, {
                        label: "UPC/PLU",
                        name: "ProductUpdates.F01"
                    }, {
                        label: "Mettler Product:",
                        name: "ProductUpdates.ismettlerrequired",
                        type: "select",
                        options: ["Yes", "No"],
                        placeholder: "Select an option"
                    }, {
                        label: "Retail Price",
                        name: "ProductUpdates.price_tab_f30"
                    },{
                        label: "Vendor:",
                        name: "ProductUpdates.COST_TAB_F27",
                        type: "select",
                        placeholder: "Select a vendor"
                    }, {
                        label: "Reorder code:",
                        name: "ProductUpdates.COST_TAB_F26"
                    }, {
                        label: "Retail margin:",
                        name: "ProductUpdates.PRICE_TAB_F49"
                    }, {
                        label: "Items per case:",
                        name: "ProductUpdates.COST_TAB_F19"
                    }, {
                        label: "Case cost:",
                        name: "ProductUpdates.COST_TAB_F38"
                    }, {
                        label: "TPR Start",
                        name: "ProductUpdates.promotprstartdate",
                        type: "datetime",
                        format: 'M/d/YYYY'
                    }, {
                        label: "TPR End",
                        name: "ProductUpdates.promotprenddate",
                        type: "datetime",
                        format: 'M/d/YYYY'
                    }, {
                        label: "TPR Price",
                        name: "ProductUpdates.promotprprice"
                    }, {
                        label: "Shelf Tag:",
                        name: "ProductUpdates.labelID",
                        type: "select",
                        placeholder: "Select a label size"
                    }, {
                        label: "Sign:",
                        name: "ProductUpdates.signID",
                        type: "select",
                        placeholder: "Select a sign size"
                    }, {
                        label: "Brand:",
                        name: "ProductUpdates.OBJ_TAB_F155",
                        type: "select",
                        placeholder: "Select a brand"
                    }, {
                        label: "Receipt Description:",
                        name: "ProductUpdates.OBJ_TAB_F29"
                    }, {
                        label: "Size:",
                        name: "ProductUpdates.OBJ_TAB_F22"
                    }, {
                        label: "Sign Description:",
                        name: "ProductUpdates.OBJ_TAB_F255"
                    }, {
                        label: "Subdepartment:",
                        name: "ProductUpdates.POS_TAB_F04",
                        type: "select",
                        placeholder: "Select a subdepartment"
                    }, {
                        label: "Category:",
                        name: "ProductUpdates.OBJ_TAB_F17",
                        optionsPair: {
                            label: 'F1023',
                            value: 'F17'
                        },
                        type: "select",
                        placeholder: "Select a category"
                    }, {
                        label: "Report:",
                        name: "ProductUpdates.OBJ_TAB_F18",
                        type: "select",
                        placeholder: "Select a report"
                    }, {
                        label: "Family button:",
                        name: "ProductUpdates.OBJ_TAB_F16",
                        type: "select",
                        placeholder: "Select a family button"
                    }, {
                        label: "Like:",
                        name: "ProductUpdates.LIKE_TAB_F122",
                        type: "select",
                        placeholder: "Select a like code"
                    }, {
                        label: "SNAP:",
                        name: "ProductUpdates.POS_TAB_F79",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    }, {
                        label: "Scalable:",
                        name: "ProductUpdates.POS_TAB_F80",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    }, {
                        label: "Taxable:",
                        name: "ProductUpdates.POS_TAB_F81",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    },{
                        label: "Created by:",
                        name: "ProductUpdates.createdby",
                        type: "readonly",
                        type: "hidden",
                        def: "@(User.GetCreatedBy())"
                    }, {
                        label: "Date created:",
                        name: "ProductUpdates.datecreated",
                        type: "datetime",
                        type: "hidden",
                        def: function () {
                            var today = new Date().getMonth() + 1
                                + "/" + new Date().getDate()
                                + "/" + new Date().getFullYear()
                                + " " + new Date().getHours()
                                + ":" + new Date().getMinutes()
                                + ":" + new Date().getSeconds(); return today },
                        format: 'M/D/YYYY'
                    },{
                        label: "Status:",
                        name: "ProductUpdates.productstatusID",
                        type: "hidden",
                        def: "3"
                    }
                ]
            });

            // Hides signs unless a promotional request type is selected
            editor.field('ProductUpdates.requesttypeID').input().on('change', function () {
                if (editor.field('ProductUpdates.requesttypeID').val() == '2' || editor.field('ProductUpdates.requesttypeID').val() == '3' || editor.field('ProductUpdates.requesttypeID').val() == '4' || editor.field('ProductUpdates.requesttypeID').val() == '5' || editor.field('ProductUpdates.requesttypeID').val() == '7' || editor.field('ProductUpdates.requesttypeID').val() == '8' || editor.field('ProductUpdates.requesttypeID').val() == '9') {
                    editor.field('ProductUpdates.signID').show();
                } else {
                    editor.field('ProductUpdates.signID').hide();
                }
            });

            // Hides TPR fields unless a promotional request type is selected
            editor.field('ProductUpdates.requesttypeID').input().on('change', function () {
                if (editor.field('ProductUpdates.requesttypeID').val() == '2' || editor.field('ProductUpdates.requesttypeID').val() == '3' || editor.field('ProductUpdates.requesttypeID').val() == '4' || editor.field('ProductUpdates.requesttypeID').val() == '5' || editor.field('ProductUpdates.requesttypeID').val() == '7' || editor.field('ProductUpdates.requesttypeID').val() == '8' || editor.field('ProductUpdates.requesttypeID').val() == '9') {
                    editor.field('ProductUpdates.promotprstartdate').show();
                } else {
                    editor.field('ProductUpdates.promotprstartdate').hide();
                }
            });

            // Hides TPR fields unless a promotional request type is selected
            editor.field('ProductUpdates.requesttypeID').input().on('change', function () {
                if (editor.field('ProductUpdates.requesttypeID').val() == '2' || editor.field('ProductUpdates.requesttypeID').val() == '3' || editor.field('ProductUpdates.requesttypeID').val() == '4' || editor.field('ProductUpdates.requesttypeID').val() == '5' || editor.field('ProductUpdates.requesttypeID').val() == '7' || editor.field('ProductUpdates.requesttypeID').val() == '8' || editor.field('ProductUpdates.requesttypeID').val() == '9') {
                    editor.field('ProductUpdates.promotprenddate').show();
                } else {
                    editor.field('ProductUpdates.promotprenddate').hide();
                }
            });

            // Hides TPR fields unless a promotional request type is selected
            editor.field('ProductUpdates.requesttypeID').input().on('change', function () {
                if (editor.field('ProductUpdates.requesttypeID').val() == '2' || editor.field('ProductUpdates.requesttypeID').val() == '3' || editor.field('ProductUpdates.requesttypeID').val() == '4' || editor.field('ProductUpdates.requesttypeID').val() == '5' || editor.field('ProductUpdates.requesttypeID').val() == '7' || editor.field('ProductUpdates.requesttypeID').val() == '8' || editor.field('ProductUpdates.requesttypeID').val() == '9') {
                    editor.field('ProductUpdates.promotprprice').show();
                } else {
                    editor.field('ProductUpdates.promotprprice').hide();
                }
            });

            // Hides Family Button unless Hackberry's item is selected
            editor.field('ProductUpdates.requesttypeID').input().on('change', function () {
                if (editor.field('ProductUpdates.requesttypeID').val() == '10') {
                    editor.field('ProductUpdates.OBJ_TAB_F16').show();
                } else {
                    editor.field('ProductUpdates.OBJ_TAB_F16').hide();
                }
            });

            // Hides Like code unless Produce is selected
            editor.field('ProductUpdates.POS_TAB_F04').input().on('change', function () {
                if (editor.field('ProductUpdates.POS_TAB_F04').val() == '6' || editor.field('ProductUpdates.POS_TAB_F04').val() == '17' || editor.field('ProductUpdates.POS_TAB_F04').val() == '3') {
                    editor.field('ProductUpdates.LIKE_TAB_F122').show();
                } else {
                    editor.field('ProductUpdates.LIKE_TAB_F122').hide();
                }
            });

            // Cascading select fields
            editor.dependent('ProductUpdates.POS_TAB_F04', '/api/Categories');

            // Hides cost info on load
            editor.field('ProductUpdates.POS_TAB_F04').input().on('change', function () {
                    editor.field('ProductUpdates.COST_TAB_F27').hide();
                    editor.field('ProductUpdates.COST_TAB_F26').hide();
                    editor.field('ProductUpdates.PRICE_TAB_F49').hide();
                    editor.field('ProductUpdates.COST_TAB_F19').hide();
                    editor.field('ProductUpdates.COST_TAB_F38').hide();
                
            });

            var counter = 0;
            // Display cost info when cost button is clicked
            $(document).on('click', '#cost', function () {
                if (counter == 0) {
                    editor.field('ProductUpdates.COST_TAB_F27').show();
                    editor.field('ProductUpdates.COST_TAB_F26').show();
                    editor.field('ProductUpdates.PRICE_TAB_F49').show();
                    editor.field('ProductUpdates.COST_TAB_F19').show();
                    editor.field('ProductUpdates.COST_TAB_F38').show();
                    counter = 1
                    //alert(counter);
                } else {
                    editor.field('ProductUpdates.COST_TAB_F27').hide();
                    editor.field('ProductUpdates.COST_TAB_F26').hide();
                    editor.field('ProductUpdates.PRICE_TAB_F49').hide();
                    editor.field('ProductUpdates.COST_TAB_F19').hide();
                    editor.field('ProductUpdates.COST_TAB_F38').hide();
                    counter = 0
                    //alert(counter);
                }
            });
            
            var table = $('#ProductUpdates').DataTable({
                // This is the default view showing uncompleted requests
                initComplete: function (e, dt, node, config) { table.column(1).search('^3 - Manager Review Completed$', true, false).draw() },
                //processing: true,
                //serverSide: true,
                //paging: true,
                deferRender: true,
                ajax: {
                    url: '/api/ProductUpdates'
                },
                columns: [
                    { "data": "RequestTypes.requestname" },
                    { "data": "Status.productupdatestatus" },
                    { "data": "ProductUpdates.F01", width: '110px' },
                    { "data": "ProductUpdates.OBJ_TAB_F155" },
                    { "data": "ProductUpdates.OBJ_TAB_F29" },
                    { "data": "ProductUpdates.OBJ_TAB_F22" },
                    { "data": "ProductUpdates.promotprstartdate" },
                    { "data": "ProductUpdates.promotprenddate" },
                    { "data": "ProductUpdates.promotprprice" },
                    { "data": "ProductUpdates.price_tab_f30" },
                    { "data": "ProductUpdates.createdby" },
                    { "data": "ProductUpdates.datecreated" }
                ],
                select: true,
                dom: '<"floatRight"B><"clear">lfrtip',
                order: [[11, "desc"], [1, "asc"]],
                buttons: [
                    { text: 'New Product', tite: 'New Product', extend: 'create', editor: editorNP },
                    {
                        text: 'Update An Existing Product', title: 'Update An Existing Product', extend: 'create', editor: editor,
                        formButtons:
                            [
                                { text: 'Cancel', action: function () { this.close(); } },
                                'Create',
                                { text: 'Submit Another', action: function () { this.submit(); editor.create(); } },
                                { text: 'Clear', action: function () { fields = editor.displayed(); for (field in fields) { editor.field(fields[field]).val(''); }; } },
                                //{ text: 'Copy Details from Previous Item', action: function () { var values = editor.edit(table.row(11, { search: '6/11/2019 2:18:35 PM' }), false).val(); console.log(values); editor.create({}).set(values); } }, ]
                                { text: 'Copy Details from Previous Item', action: function () { var values = editor.edit(table.row( ':last', { order: 'index' }), false).val(); editor.create({}).set(values); } }, ]
                                //{ text: 'Copy Details from Previous Item', action: function () { console.log( table.row(table.column(11).search('7/4/2019 1:37:32 PM', true, false).draw()).data() ); } }, ]
                                //{ text: 'Copy Details from Previous Item', action: function () { console.log(table.row(':last', { order: 'applied' }).data()); } }, ]
                    },
                    { text: 'Edit', extend:'edit', editor:editor},
                    { text: 'Show Completed Today', action: function (e, dt, node, config) { table.column(1).search('^4 - Completed$', true, false).draw() } },
                    { text: 'Show Default View', action: function (e, dt, node, config) { table.column(1).search('^3 - Manager Review Completed$', true, false).draw() } },
                    { text: 'Show All', action: function (e, dt, node, config) { table.column(1).search('3 - Manager Review Completed$|^4 - Completed$', true, false).column(11).order( 'desc' ).draw() } }
                ]
            });

            $('<button id="cost" style="position:absolute;top:20%;right:12.5%">Cost</button>').insertAfter(
                editor.field('ProductUpdates.price_tab_f30').input()
            );
        });
    </script>
}