@{
    ViewBag.Title = "Purchases";
    var CreatedBy = Request["CreatedBy"];
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Purchases</title>

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />
</head>
<body class="dataTables">
    <div class="container">
        <h1><img src="~/Content/PFC_Logo_128px.png" width="100" height="100">        Purchases</h1>
        <br />
        <table id="Purchases" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Subdepartment</th>
                    <th>Location</th>
                    <th>Reconciled</th>
                    <th>Notes</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script>

        // Function to get today's date
        function getDate() {
            today = new Date().getMonth() + 1
            + "/" + new Date().getDate()
            + "/" + new Date().getFullYear()
            + " " + new Date().getHours()
            + ":" + new Date().getMinutes()
            + ":" + new Date().getSeconds()
            return today;
        };

        var currentUser = "@CreatedBy";
        var lastNIRetrieved;
        var editor;
        $(document).ready(function () {

            // Disable autocomplete on form fields
            $.extend(true, $.fn.dataTable.Editor.Field.defaults, {
                attr: {
                    autocomplete: 'off'
                }
            });

            // Form padding
            $.extend($.fn.dataTable.Editor.display.lightbox.conf, {
                windowPadding: 66
            });

            $.fn.dataTable.moment('M/D/YYYY h:mm:ss A');

            editor = new $.fn.dataTable.Editor({
                ajax: '/api/Purchases',
                table: '#Purchases',
                fields: [
                    {
                        "label": "Invoice:",
                        "name": "Purchases.invoicenumber"
                    },
                    {
                        "label": "Date:",
                        "name": "Purchases.purchasedate",
                        "type": "datetime",
                        "def": function () { return new Date(); },
                        "format": 'M/D/YYYY'
                    },
                    {
                        "label": "Vendor:",
                        "name": "Purchases.vendorID",
                        "type": "select",
                        "placeholder": "Select a vendor"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount",
                        id: "addAmount"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID",
                        "type": "select",
                        "placeholder": "Select a subdepartment"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount2",
                        id: "purchaseamount2"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID2",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID2"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount3",
                        id: "purchaseamount3"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID3",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID3"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount4",
                        id: "purchaseamount4"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID4",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID4"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount5",
                        id: "purchaseamount5"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID5",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID5"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount6",
                        id: "purchaseamount6"

                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID6",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID6"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount7",
                        id: "purchaseamount7"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID7",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID7"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount8",
                        id: "purchaseamount8"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID8",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID8"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount9",
                        id: "purchaseamount9"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID9",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID9"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount10",
                        id: "purchaseamount10"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID10",
                        "type": "select",
                        "placeholder": "Select a subdepartment",
                        id: "subdepartmentID10"
                    },
                    {
                        "label": "Location:",
                        "name": "Purchases.locationID",
                        "type": "select",
                        "placeholder": "Select a location"
                    },
                    {
                        "label": "Reconciled:",
                        "name": "Purchases.purchasereconciled",
                        "type": "checkbox",
                        "options": [
                            { "label": "", "value": "True" }
                        ],
                        "separator": "|",
                        "unselectedValue": "False"
                    },
                    {
                        "label": "Notes:",
                        "name": "Purchases.purchasememo"
                    },
                    {
                        label: "Created by:",
                        name: "Purchases.CreatedBy",
                        def: currentUser
                    },
                    {
                        label: "Date created:",
                        name: "Purchases.DateCreated",
                        type: "readonly",
                        def: getDate()
                    }
                ]
            });

            // Number of total Purchase amount and invoice fields
            var numberOfFields = 10;

            // Hide extra purchase amount and subdepartment fields.
            for (var i = 2; i <= numberOfFields; i++){
                editor.field('Purchases.purchaseamount' + i).hide();
                editor.field('Purchases.subdepartmentID' + i).hide();
            };

            // Append "Add More" button to the end of purchase amount field.
            //$('<button name="add" id="add" style="position:absolute;top:20%;right:8.3%">Add More</button>').insertAfter(
            //    editor.field('Purchases.purchaseamount').input()
            //);

            // Append "Add More" button to the end of purchase amount field.
            for (var i = 2; i <= numberOfFields; i++) {
                $('<button name="remove" id="' + i + '" class="btn btn-danger btn_remove" style="position:absolute;top:9.5%;right:13.25%">X</button>').insertAfter(
                    editor.field('Purchases.purchaseamount' + i).input()
                );
            }

            // On New Purchase form edit
            editor.on('initEdit', function () {
                for (i = 0; i < editor.fields().length; i++) {

                    // If fields contain a value, show them
                    if (editor.field(editor.fields()[i]).val()) {
                        editor.field(editor.fields()[i]).show();
                    }

                    // If fields are null, empty, or undefined; hide them
                    if (!editor.field(editor.fields()[i]).val()) {
                        editor.field(editor.fields()[i]).hide();

                        // These fields should always be visible
                        editor.field('Purchases.vendorID').show();
                        editor.field('Purchases.CreatedBy').show();
                        editor.field('Purchases.purchasememo').show();
                    }
                }
            });

            // On New Purchase form open
            editor.on('open', function () {

                // If "Add More" button is clicked increment counter and show another pair of purchase amount and subdepartment fields
                $(document).unbind('click').on('click', '#add', function () {

                    // Get all displayed fields in Purchase form and create an array
                    var fields = [];
                    temp = editor.displayed();
                    for (i = 0; i < temp.length; i++) {
                        fields[i] = temp[i];
                    }

                    // Get all displayed purchaseamount fields and create an array
                    var used = [];
                    for (i = 2; i <= numberOfFields; i++) {
                        var notOpen = fields.indexOf('Purchases.purchaseamount' + i);
                        if (fields[notOpen]) {
                            var displayed = parseInt(fields[notOpen].replace(/[^\d]/g, ''));
                            used[i] = displayed;
                        }
                    }

                    // Generates array of all numbers between range.
                    var range = [];
                    for (i = 2; i <= numberOfFields; i++) {
                        range.push(i);
                    };

                    // Create array of unused values in range
                    var unused = _.difference(range, used);

                    if (unused.length != 0) {
                        editor.field('Purchases.purchaseamount' + unused[0]).show();
                        editor.field('Purchases.subdepartmentID' + unused[0]).show();
                    }

                });

                // Remove the last new UPC field generated
                $(document).on('click', '.btn_remove', function () {
                    var button_id = $(this).attr("id");

                    editor.field('Purchases.purchaseamount' + button_id).val();
                    editor.field('Purchases.subdepartmentID' + button_id).val();

                    editor.field('Purchases.purchaseamount' + button_id).hide();
                    editor.field('Purchases.subdepartmentID' + button_id).hide();
                });

                // On close, hide all purchase amount fields again.
                editor.on('close', function () {
                    for (var i = 2; i <= numberOfFields; i++){
                        editor.field('Purchases.purchaseamount' + i).hide();
                        editor.field('Purchases.subdepartmentID' + i).hide();
                    };
                });

            });

            var table = $('#Purchases').DataTable({
                deferRender: true,
                select: true,
                lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                ajax: '/api/Purchases',
                columns: [
                    {
                        "data": "Purchases.invoicenumber"
                    },
                    {
                        "data": "Purchases.purchasedate"
                    },
                    {
                        "data": "SMSVendors.F334"
                    },
                    {
                        "data": "Purchases.purchaseamount", "render": $.fn.dataTable.render.number(',', '.', 2, '$')
                    },
                    {
                        "data": "Subdepartments.subdepartmentname"
                    },
                    {
                        "data": "Locations.locationname"
                    },
                    {
                        "data": "Purchases.purchasereconciled",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="editor-active">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    {
                        "data": "Purchases.purchasememo"
                    },
                    {
                        "data": "Purchases.CreatedBy"
                    },
                    {
                        "data": "Purchases.DateCreated", "render": function (value) {
                            if (value === null) return "";
                            return window.moment(value).format('M/D/YYYY h:mm:ss A');
                        }
                    }
                ],
                dom: '<"floatRight"B><"clear">lfrtip',
                order: [[9, "desc"]],
                buttons: [
                    
                    { text: 'New', formTitle: 'Add a New Invoice', extend: 'create', editor: editor,
                        formButtons:
                            [
                                { text: 'Cancel', action: function () { this.close(); } },
                                'Create',
                                {
                                    text: 'Submit Another', action: function () {
                                    
                                        // Creates lastNewInvoice object to store current forms data to be called later
                                        var lastNewInvoice = {
                                            'invoicenumber': editor.field('Purchases.invoicenumber').val(),
                                            'purchasedate': editor.field('Purchases.purchasedate').val(),
                                            'vendorID': editor.field('Purchases.vendorID').val(),
                                            'locationID': editor.field('Purchases.locationID').val(),
                                            'CreatedBy': editor.field('Purchases.CreatedBy').val()
                                        }

                                        // Puts the object into local storage
                                        localStorage.setItem('lastNewInvoice', JSON.stringify(lastNewInvoice));

                                        // Retrieve the object from storage
                                        lastNIRetrieved = localStorage.getItem('lastNewInvoice');
                                        this.submit();
                                        editor.create();
                                    }
                                },
                                { text: 'Clear', action: function () { fields = editor.displayed(); for (field in fields) { editor.field(fields[field]).val(''); }; } },
                                {
                                    text: 'Copy', action: function () {

                                        // Initialize lastInvoice variable with object retrieved from storage
                                        var lastNewInvoice = JSON.parse(lastNIRetrieved);

                                        // Assign lastInvoice values to their respective fields
                                        editor.field('Purchases.invoicenumber').val(lastNewInvoice.invoicenumber);
                                        editor.field('Purchases.purchasedate').val(lastNewInvoice.purchasedate);
                                        editor.field('Purchases.vendorID').val(lastNewInvoice.vendorID);
                                        editor.field('Purchases.locationID').val(lastNewInvoice.locationID);
                                        editor.field('Purchases.CreatedBy').val(lastNewInvoice.CreatedBy);
                                    }
                                }
                            ]
                    },
                    { extend: 'edit', editor: editor },
                    { extend: 'remove', editor: editor },
                    {
                        // Export table button
                        extend: 'collection', text: 'Export', autoClose: true,
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    },
                    {
                        // Show default view filter button
                        text: 'Show Default View', action: function (e, dt, node, config) {
                            table.search('')
                                .columns().search('')
                                .columns().order('')
                                .page.len(20)
                                .column(9).order('desc').draw()
                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.editor-active', row).prop('checked', data.Purchases.purchasereconciled == "True");
                }
            });

            $('#Purchases').on('change', 'input.editor-active', function () {
                editor
                    .edit($(this).closest('tr'), false)
                    .set('Purchases.purchasereconciled', $(this).prop('checked') ? "True" : "False")
                    .submit();
            });
        });

    </script>
}