@{
    ViewBag.Title = "Purchases";
}

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
        <title>Purchases</title>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
        
    </head>
    <body class="dataTables">
        <div class="container">

            <h2 style="float:left;">Purchases</h2>
            <hr style="clear:both" />

            <br />

            <table id="Purchases" class="display text-nowrap compact" style="width:100%">
                <thead>
                    <tr>
                        <th>Invoice</th>
                        <th>Date</th>
                        <th>Vendor</th>
                        <th>Amount</th>
                        <th>Subdepartment</th>
                        <th>Location</th>
                        <th>Reconciled</th>
                        <th>Notes</th>
                    </tr>
                </thead>
            </table>

        </div>
    </body>
</html>


@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script>
        var editor;
        $(document).ready(function () {

            $.fn.dataTable.moment('M/D/YYYY');

            editor = new $.fn.dataTable.Editor({
                ajax: '/api/Purchases',
                table: '#Purchases',
                fields: [
                    {
                        "label": "Invoice:",
                        "name": "Purchases.invoicenumber"
                    },
                    {
                        "label": "Date:",
                        "name": "Purchases.purchasedate",
                        "type": "datetime",
                        "def": function () { return new Date(); },
                        "format": 'M/D/YYYY'
                    },
                    {
                        "label": "Vendor:",
                        "name": "Purchases.vendorID",
                        "type": "select",
                        "placeholder": "Select a vendor"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID",
                        "type": "select",
                        "placeholder": "Select a subdepartment"
                    },
                    {
                        "label": "Location:",
                        "name": "Purchases.locationID",
                        "type": "select",
                        "placeholder": "Select a location"
                    },
                    {
                        "label": "Reconciled:",
                        "name": "Purchases.purchasereconciled",
                        "type": "checkbox",
                        "options": [
                            { "label": "Yes", "value": "True" },
                            { "label": "No", "value": "False" }
                        ],
                        "separator": "|",
                        "unselectedValue": "False"
                    },
                    {
                        "label": "Notes:",
                        "name": "Purchases.purchasememo"
                    }
                ]
            });

            var table = $('#Purchases').DataTable({
                //processing: true,
                //serverSide: true,
                //paging: true,
                //pageLength: 5,
                deferRender: true,
                ajax: {
                    url: '/api/Purchases'
                },
                columns: [
                    {"data": "Purchases.invoicenumber"},
                    {"data": "Purchases.purchasedate"},
                    {"data": "Vendors.vendorname"},
                    {"data": "Purchases.purchaseamount", "render": $.fn.dataTable.render.number(',', '.', 2, '$')},
                    {"data": "Subdepartments.subdepartmentname"},
                    {"data": "Locations.locationname"},
                    {"data": "Purchases.purchasereconciled",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="editor-active">';
                            }
                            return data;
                        },
                        className: "dt-body-center"},
                    {"data": "Purchases.purchasememo"}
                ],
                select: true,
                dom: '<"floatRight"B><"clear">lfrtip',
                order: [[1, "desc"]],
                buttons: [
                    { extend: 'create', editor: editor },
                    { extend: 'edit', editor: editor },
                    { extend: 'remove', editor: editor }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.editor-active', row).prop('checked', data.Purchases.purchasereconciled == "True");
                }
            });

            $('#Purchases').on('change', 'input.editor-active', function () {
                editor
                    .edit($(this).closest('tr'), false)
                    .set('Purchases.purchasereconciled', $(this).prop('checked') ? "True" : "False")
                    .submit();
            });
        });

    </script>
}