@{
    ViewBag.Title = "Purchases";
    var CreatedBy = Request["CreatedBy"];
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Purchases</title>

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Custom.css" />
</head>
<body class="dataTables">
    <div class="container">
        <h1><img src="~/Content/PFC_Logo_128px.png" width="100" height="100">        Purchases</h1>
        <br />
        <table id="Purchases" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Amount</th>
                    <th>Subdepartment</th>
                    <th>Location</th>
                    <th>Reconciled</th>
                    <th>Notes</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Editor-1.8.1/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

    <script>

        // Function to get today's date
        function getDate() {
            today = new Date().getMonth() + 1
            + "/" + new Date().getDate()
            + "/" + new Date().getFullYear()
            + " " + new Date().getHours()
            + ":" + new Date().getMinutes()
            + ":" + new Date().getSeconds()
            return today;
        };

        var currentUser = "@CreatedBy";
        var lastNIRetrieved;
        var editor;
        $(document).ready(function () {

            $.fn.dataTable.moment('M/D/YYYY h:mm:ss A');

            editor = new $.fn.dataTable.Editor({
                ajax: '/api/Purchases',
                table: '#Purchases',
                fields: [
                    {
                        "label": "Invoice:",
                        "name": "Purchases.invoicenumber"
                    },
                    {
                        "label": "Date:",
                        "name": "Purchases.purchasedate",
                        "type": "datetime",
                        "def": function () { return new Date(); },
                        "format": 'M/D/YYYY'
                    },
                    {
                        "label": "Vendor:",
                        "name": "Purchases.vendorID",
                        "type": "select",
                        "placeholder": "Select a vendor"
                    },
                    {
                        "label": "Amount:",
                        "name": "Purchases.purchaseamount"
                    },
                    {
                        "label": "Subdepartment:",
                        "name": "Purchases.subdepartmentID",
                        "type": "select",
                        "placeholder": "Select a subdepartment"
                    },
                    {
                        "label": "Location:",
                        "name": "Purchases.locationID",
                        "type": "select",
                        "placeholder": "Select a location"
                    },
                    {
                        "label": "Reconciled:",
                        "name": "Purchases.purchasereconciled",
                        "type": "checkbox",
                        "options": [
                            { "label": "", "value": "True" }
                        ],
                        "separator": "|",
                        "unselectedValue": "False"
                    },
                    {
                        "label": "Notes:",
                        "name": "Purchases.purchasememo"
                    },
                    {
                        label: "Created by:",
                        name: "Purchases.CreatedBy",
                        def: currentUser
                    },
                    {
                        label: "Date created:",
                        name: "Purchases.DateCreated",
                        type: "readonly",
                        def: getDate()
                    }
                ]
            });

            var table = $('#Purchases').DataTable({
                deferRender: true,
                select: true,
                lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                ajax: '/api/Purchases',
                columns: [
                    {
                        "data": "Purchases.invoicenumber"
                    },
                    {
                        "data": "Purchases.purchasedate"
                    },
                    {
                        "data": "SMSVendors.F334"
                    },
                    {
                        "data": "Purchases.purchaseamount", "render": $.fn.dataTable.render.number(',', '.', 2, '$')
                    },
                    {
                        "data": "Subdepartments.subdepartmentname"
                    },
                    {
                        "data": "Locations.locationname"
                    },
                    {
                        "data": "Purchases.purchasereconciled",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="editor-active">';
                            }
                            return data;
                        },
                        className: "dt-body-center"
                    },
                    {
                        "data": "Purchases.purchasememo"
                    },
                    {
                        "data": "Purchases.CreatedBy"
                    },
                    {
                        "data": "Purchases.DateCreated", "render": function (value) {
                            if (value === null) return "";
                            return window.moment(value).format('M/D/YYYY h:mm:ss A');
                        }
                    }
                ],
                dom: '<"floatRight"B><"clear">lfrtip',
                order: [[9, "desc"]],
                buttons: [
                    // New Product Form: opens the New Product form
                    { text: 'New', formTitle: 'Add a New Invoice', extend: 'create', editor: editor,
                        formButtons:
                            [
                                { text: 'Cancel', action: function () { this.close(); } },
                                'Create',
                                {
                                    text: 'Submit Another', action: function () {
                                    
                                        // Creates lastNewInvoice object to store current forms data to be called later
                                        var lastNewInvoice = {
                                            'invoicenumber': editor.field('Purchases.invoicenumber').val(),
                                            'purchasedate': editor.field('Purchases.purchasedate').val(),
                                            'vendorID': editor.field('Purchases.vendorID').val(),
                                            'locationID': editor.field('Purchases.locationID').val(),
                                            'CreatedBy': editor.field('Purchases.CreatedBy').val()
                                        }

                                        // Puts the object into local storage
                                        localStorage.setItem('lastNewInvoice', JSON.stringify(lastNewInvoice));

                                        // Retrieve the object from storage
                                        lastNIRetrieved = localStorage.getItem('lastNewInvoice');
                                        console.log(lastNIRetrieved);
                                        this.submit();
                                        editor.create();
                                    }
                                },
                                { text: 'Clear', action: function () { fields = editor.displayed(); for (field in fields) { editor.field(fields[field]).val(''); }; } },
                                {
                                    text: 'Copy', action: function () {

                                        // Initialize lastInvoice variable with object retrieved from storage
                                        var lastNewInvoice = JSON.parse(lastNIRetrieved);
                                        console.log(lastNewInvoice);
                                        // Assign lastInvoice values to their respective fields
                                        editor.field('Purchases.invoicenumber').val(lastNewInvoice.invoicenumber);
                                        editor.field('Purchases.purchasedate').val(lastNewInvoice.purchasedate);
                                        editor.field('Purchases.vendorID').val(lastNewInvoice.vendorID);
                                        editor.field('Purchases.locationID').val(lastNewInvoice.locationID);
                                        editor.field('Purchases.CreatedBy').val(lastNewInvoice.CreatedBy);
                                    }
                                }
                            ]
                    },
                    { extend: 'edit', editor: editor },
                    { extend: 'remove', editor: editor },
                    {
                        // Export table button
                        extend: 'collection', text: 'Export', autoClose: true,
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    },
                    {
                        // Show default view filter button
                        text: 'Show Default View', action: function (e, dt, node, config) {
                            table.search('')
                                .columns().search('')
                                .columns().order('')
                                .page.len(20)
                                .column(9).order('desc').draw()
                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.editor-active', row).prop('checked', data.Purchases.purchasereconciled == "True");
                }
            });

            $('#Purchases').on('change', 'input.editor-active', function () {
                editor
                    .edit($(this).closest('tr'), false)
                    .set('Purchases.purchasereconciled', $(this).prop('checked') ? "True" : "False")
                    .submit();
            });
        });

    </script>
}