@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <h4>La Crosse Store</h4>

    315 5th Avenue S<br />
    La Crosse, WI 54601<br />
    <abbr title="Phone">P:</abbr>
    608.784.5798
</address>

<address>
    <h4>Rochester Store</h4>

    519 1st Avenue SW<br />
    Rochester, MN 55902<br />
    <abbr title="Phone">P:</abbr>
    507.289.9061
</address>

<address>
    <h4>Powell Place</h4>

    105 2nd Street S<br />
    La Crosse, WI 54601<br />
    <abbr title="Phone">P:</abbr>
    608.784.5798
</address>

<address>
    <strong>Internal IT Support:</strong>   <a href="mailto:itsupport@pfc.coop">ITSupport@pfc.coop</a><br />
</address>