@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Toolbox</h1>
    <p class="lead">Welcome to the People's Food Co-op Toolbox!</p>
    <p><a href="http://www.pfc.coop" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product Maintenance</h2>
        <p>
            Add new products, update existing products, request promotional pricing, pull promotional reports, and more.
        </p>
        <p><a class="btn btn-default" href="http://localhost:21690/Maintenance/ProductMaintenance">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>Run basic reports for current product metrics and margin control.</p>
        <p><a class="btn btn-default" href="http://localhost:21690/Reports">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logs</h2>
        <p>Track invoices, write-offs, and expirations.</p>
        <p><a class="btn btn-default" href="http://localhost:21690/Logs">Click here &raquo;</a></p>
    </div>
</div>